<!DOCTYPE html>
<html>
<head>
  <title>EmberEdit</title>
  <%= stylesheet_link_tag    "ember_edit/application", :media => "all" %>
  <%= javascript_include_tag "ember_edit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
