.ee-body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
}

.ee-infobox {
  position: absolute;
  background-color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  border: 1px solid #5f5f5f;
  box-shadow: 1px 1px 1px #5f5f5f;
  padding: 2px;
  display: none;

  .ee-view-id {
    font-style: italic;
  }
}

.ee-view-overlay {
  position: absolute;

  &:hover {
    background: rgba(255, 255, 0, .3);
  }
}